 

.container{
    padding: 15px;
    border-radius: 20px;
    width: 500px;
    background:#4e063c;
    color: white;
    margin: 5%;  
    border-style: solid;
    box-shadow: 
    0 0 15px #c7bcc7,
    0 0 30px rgb(155, 129, 182),
    0 0 60px rgb(218, 57, 218);
    
     

      
}
 

h1{
    color: #fc27c7;
    text-align: center;
    margin: 2%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    box-shadow: #fc27c7;
}


p{
    font-kerning: auto;
    text-align: center;
    color:white;
}

div{
    text-align: center;
    font-variant: inherit;
}


body{
    height: 100ch;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
}

button{
    background: #000000;
    border-radius: 5px;
    color: #570442;
}

input{
    border-radius: 7px;
}